body {
	margin: 0;
	display: flex;
	flex-direction: column;
}
header {
	width: 100%;
    background-color: lightblue;
	border-bottom: lightblue solid 2px;
}
.logo {
	width: 5%;
	height: 100%;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.links {
    display: flex;
    width: 80%;
    list-style: none;
    margin: 0;
    align-items: center;
}
.nav-elements{
    color: #fff;
    text-decoration: none;
    font-size: x-large;
    padding: 10px;
}
.nav-elements:hover {
	border: solid #fff 1px;
}

.search {
	height: 5vh;
}

footer {
	background-color: lightblue;
	color: #fff;
	text-align: center;
	padding: 10px 0;
	width: 100%;
	bottom: 0;
}

.articulo {
    background-color: red;
}

main {
    display: flex;
}
